.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #161A30;
  color: white;
  transition: 0.5s all ease;
  position: sticky;
  top: 0;
  z-index: 999;
 a{
  color: white;
  transition: 0.5s all ease;
  text-decoration: none; 
 }
  &.active{
    background-color: white;
    color: black;
    a{
      color: black;
      
    }
  }
  .container {
    width:1400px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    .logo {
      .text {
        font-size: 34px;
        font-weight: bold;
      }
    }
    .links {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        gap: 24px;
        cursor: default;

        .user{
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          position: relative;
          img{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
          }
          .options{
            position:absolute;
            top: 50px;
            right: 0;
            padding: 20px;
            background-color: white;
            border-radius: 10px;
            border: 1px solid lightgrey;
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: gray;
            width: 200px;
            font-weight: 300;
          }
        }
      button{
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid white;
        cursor: pointer;
        background-color: transparent;
        &:hover{
            background-color: grey;
            border-color: grey;
        }
      }
    }
  }
  hr{
    width: 100%;
    height: 0;
    border: 0.5px solid rgb(228, 228, 228);
  }
  .menu{
    width: 1400px;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    font-weight:300;
    color: grey;
    font-family: 'Montserrat', sans-serif;
  }
}
